@tailwind base;
@tailwind components;
@tailwind utilities;

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.my{
  min-width: max-content;
  inset: -40px -20px auto auto;
  transform: translate3d(-20.6667px, 60.6667px, 0px);
}

.box_shadow{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.245);
}

.line-indicator li {
  width: 70px !important;
  height: 4px !important;
  border-radius: 10px;
  background-color: rgba(142, 142, 142, 0.5);
}

.line-indicator li:hover {
  background-color: rgba(168, 167, 167, 0.4);
}

.line-indicator li.slick-active {
  background-color: #000000;
} 